*{ /* global styling */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{ /* global styling */
    margin-left: 20px;
    margin-right:20px;
}

.navigation{ /* local styling (class) */
    list-style-type: none; /* A new styling element that removes the bullet points for lists */
    overflow: hidden; /* A new styling element that hides element that are too big for the area.*/
    background-color: rgb(113, 176, 254);
}

.menu{ /* local styling (class) */
    display: inline; /* A new styling element that overrides the display format of the element.*/
    float:left; /* A new styling element that tells the text to float to the left of each other.*/
    
}

.menu a { /* local styling (class) */
display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.menu a:hover { /* local styling (class) */
    background-color: white;
    color: black;
    border:solid rgb(0, 0, 0);
    }

.header{ /* local styling (class) */
    text-align: center;
}

.subtitle{ /* local styling (class) */
    text-align: center;
}

#head-image{ /* local styling (id) */
    margin-left: auto;
    display: block;
    margin-right: auto;
    width: 90%;
}

a{ /* global styling */
    text-decoration: none;
    color: rgb(113, 176, 254); 
}

a:hover{ /* global styling */
    color: rgb(41, 111, 196);
}

a:active{ /* global styling */
    color: rgb(174, 114, 230); 
}

a:visited{ /* global styling */
    color: rgb(12, 9, 63) ;
}

.body-box{ /* local styling (class) */
    background-color: rgb(113, 176, 254);
    margin: 10px;
    padding: 20px
}

h3{ /* global styling */
    margin-top: 20px;
}

iframe{ /* global styling */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    width: 90%;
    height: 800px;
}

.button { /* local styling (class) */
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 20px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}
.button:hover { /* local styling (class) */
    background-color: #ffffff;
    border:solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }

.table{ /* local styling (class) */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;    
}

.weight-heading{ /* local styling (class) */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color:rgb(113, 176, 254);
    width: 30%;
}

.weight-text{ /* local styling (class) */
    padding-left: 15px;
    color: rgb(113, 176, 254);
}

.weight-image{ /* local styling (class) */
    padding: 10px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    width: 90%;
}

#download-box{ /* local styling (id) */
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    margin: 10px;
    padding: 20px
}

#download-button{ /* local styling (id) */
    background-color: rgb(113, 176, 254);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 20px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}
#download-button:hover { /* local styling (id) */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

footer { /* global styling */
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px
}